<div class="row">

	<div class="large-12 columns">
		<h1>Detalles de la reserva</h1>


		<h5 class="subheader">Tus datos:</h5>
		<h5 class="subheader">Datos de la furgo:</h5>
		<h5 class="subheader">Regogida:</h5>
		<h5 class="subheader">Entrega:</h5>
		<h3 class="primary">Entrega:</h3>

		<%= link_to 'Confirmar reserva', rentals_van_path(@van_id, start_at: @start_at, end_at: @end_at), :class=>"button  radius right btnvan", method: :post %>
		
	</div> 


</div>
