/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

 

	.transparent {background: transparent;}
	.center {margin: auto; text-align: center;}
	.bgwhite {background: #fff;}
	.border_outline {border: 1px solid #999;}
	.lightgrey {color: #999;}
	.searchbar {border: 3px solid #000!important;}
	.small {font-size: 0.3em!important;}
	.uppercase {text-transform: uppercase;}
	.greyli {background: #333!;}
	.italic {font-style: italic;}
	.textspacing {letter-spacing: 1px;}
	.insane {font-size: 50px; line-height: 1.1em; margin:0;}
	.thin {font-weight: 300;}
	.bold {font-weight: 600;}
	.medium {font-size: 0.6em;}
	.center {text-align:center; margin:auto;}

	/* Paddings and Margins */
	.semi_padding {padding: 20px;}
	.padding_right {padding-right: 20px;}
	.semi_padding_right {padding-right: 20px;}
	.semi_padding-left {padding-left: 20px;}
	.semi_padding_bottom {padding-bottom: 20px;}
	.semi_padding_top {padding-top: 20px;}
	.padding_top {padding-top: 80px;}
	.semi_margin-top {margin-top: 20px;}
	.quarter_padding_right {padding-right: 10px;}
	.semi_padding_left {padding-left: 20px;}
	.margin-left {margin-left: 20px;}
	.semi_padding_bottom {padding-bottom: 20px;}
	.semi_margin_bottom {margin-bottom: 20px;}

	.logo h1{
	margin-top: 50px;
	letter-spacing: -1px;
	font-family: "Lato";
	width:200px;
	display:inline-block;
	}
	.logo:hover
{
color:#1B676B;
}

.hdr {
	margin-top: 50px;
}
.top-bar .name h1 a {
	padding: 0px!important;
}




.btnvan {
	padding: 30px;
}
.primary {

	color: #1B676B;
}	

.primary:hover {

	font-weight: 800;
}
	
.home {
 	
	background-image: url('../images/fondo.png');
	background-size: cover;
	
}
.panelhome {
	margin-top: 50px;
}

.logoicon {
	color: white;
	font-size: 50px;
	display: inline-block;
}

.top-bar .name h1 a {
	display:inline-block!important;
}

 
 .box {

 	border: 0.5px solid #e7e7e7;
 	border-radius: 4px;
 	box-shadow: 2px 2px 2px #e7e7e7;
 	
 }
.white {
	color: #fff;
	}

.big {
	font-size: 2.5em;
}

 .applewrap {

width: 100%;
display: block;

float: left;
background: white;
border: 1px solid;
border-color: #e5e5e5 #dbdbdb #d2d2d2;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
padding: 10px;
margin-top: 20px;
margin-bottom: 20px;
}



ul {
list-style-type: none;
padding: 5px;
margin: 10px;
}

#map-canvas {
  height: 330px;
  margin: 20px;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
      }

.columns:last-child {
	float: left !important;
}


