@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?-gprhjz');
	src:url('icomoon.eot?#iefix-gprhjz') format('embedded-opentype'),
		url('icomoon.woff?-gprhjz') format('woff'),
		url('icomoon.ttf?-gprhjz') format('truetype'),
		url('icomoon.svg?-gprhjz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pink-camper-van2:before {
	content: "\e608";
}
.icon-pink-camper-van:before {
	content: "\e607";
}
.icon-twitter:before {
	content: "\e600";
}
.icon-twitter2:before {
	content: "\e601";
}
.icon-twitter3:before {
	content: "\e602";
}
.icon-github:before {
	content: "\e603";
}
.icon-phone:before {
	content: "\e604";
}
.icon-map:before {
	content: "\e605";
}
.icon-house:before {
	content: "\e606";
}
